header h1, header li{
  text-transform: uppercase;
}
header a{
  font-size: 0.9em;
}
header a:hover{
  color: black !important;
}
header h1{
  font-size: 20px;
  font-size: 1.5em;
}
body{
  font-family: Verdana !important;
}
.box{
  text-align: center;
  color: white;
}
#contato p, #contato h1, #contato h2{
color: white;
}
