body{
  margin: 0;
}
header{
  display: table !important;
  padding-top: 20px;
}
header li{
  display: inline;
  padding: 10px;
}
nav{
  float: right;
  position: relative;
  top: 30px;
}
header, #container{
  width: 980px;
  margin: 0 auto;
}
main{
  margin-top: 20px ;
}
.logo{
  width: 70px;
  margin-right: 10px;
  float: left;
}
#logoHeader{
  float: left;
}
header h1{
  float: right;
}
.principal{
  width: 100%;
}
.box{
  width: 280px;
  height: 330px;
  float: left;
  padding: 20px;
  margin: 0 23px;
}
#boxes{
  display: table;
  margin: 45px 0;
}
.box button{
  margin: 20px;
  padding:  5px 10px;
}
