body{
  margin: 0;
}
body header{
  position: fixed;
  background-color: white;
  width: 100%;
  display: table !important;
  padding: 20px 0;
  margin-bottom: 20px;
  z-index: 2;
}
main{
  padding: 140px 0 30px 0;
}
header li{
  display: inline;
  padding: 10px;
}
nav{
  float: right;
  position: relative;
  top: 30px;
}
 #container{
  width: 980px;
  margin: 0 auto;
}
.logo{
  width: 70px;
  margin-right: 10px;
  float: left;
}
#logoHeader{
  float: left;
}
header h1{
  float: right;
}
.principal{
  width: 100%;
}
.box{
  width: 280px;
  height: 330px;
  float: left;
  padding: 20px;
  margin: 0 23px;
}
#boxes{
  display: table;
  margin: 45px 0;
}
.box button{
  margin: 20px;
  padding:  5px 10px;
}
main img{
  border: 5px solid #0C3C60;
}
.box h2{
  width: 300px;
  padding: 5px 0;
  margin-left: -30px;
  margin-bottom: 0;
}
.box p{
  margin-top: 10px;
}
.triangulo-h2{
  position: relative;
}
.esquerdo{
  position: absolute;
  bottom: -10px;
  left: -29px;
}
.direito{
  position: absolute;
  bottom: -10px;
  left: 260px;
}
#background {
  width: 1920px;
  height: 980px;
  postiion: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
<<<<<<< Updated upstream
#contato{
	height:400;
	
}
#divB{
	float:left;
	width: 980px;
}
#Mapa{
	clear:both;
	float: right;
}
#contato p, #contato h2{
	padding-left:10px;
}
#CT{
	padding-left:20px;
}
=======
#sobre{
  text-align: center;
}
.borda{
  display: table;
  margin: 0 auto;
  width: 100px;
  height: 1px;
  margin-bottom: 20px;
  border-bottom: 5px solid #0C3C60;
}
>>>>>>> Stashed changes
