body{
  margin: 0;
}
body header{
  position: fixed;
  background-color: white;
  width: 100%;
  display: table !important;
  padding: 20px 0;
  margin-bottom: 20px;
}
main{
  padding: 140px 0;
}
header li{
  display: inline;
  padding: 10px;
}
nav{
  float: right;
  position: relative;
  top: 30px;
}
 #container{
  width: 980px;
  margin: 0 auto;
}
.logo{
  width: 70px;
  margin-right: 10px;
  float: left;
}
#logoHeader{
  float: left;
}
header h1{
  float: right;
}
.principal{
  width: 100%;
}
.box{
  width: 280px;
  height: 330px;
  float: left;
  padding: 20px;
  margin: 0 23px;
}
#boxes{
  display: table;
  margin: 45px 0;
}
.box button{
  margin: 20px;
  padding:  5px 10px;
}
main img{
  border: 5px solid #0C3C60;
}

#background {
  width: 1920px;
  height: 980px;
  postiion: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
