.box{
  background-color: #0C3C60;
}
#background {
  background-image: url(../img/congestionamento-monstro-blur.jpg);
  content: "";
  opacity: 0.5;
}
.box h2{
  background-color: #031A2B;
}
.direito{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #031b2b transparent transparent transparent;
  line-height: 0px;
  _border-color: #031b2b #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.esquerdo{
  /*-webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);*/
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #031b2b transparent transparent;
  line-height: 0px;
  _border-color: #000000 #031b2b #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
#divB{
	background-color: #0C3C60;
}
